footer.footer
  .container-fluid.clearfix
    span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block Copyright &copy; bootstrapdash.com 2020
    span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
      | Free 
      a(href='https://www.bootstrapdash.com/bootstrap-admin-template/' target='_blank') Bootstrap admin templates 
      |  from Bootstrapdash.com
