doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Purple Admin
  // plugins:css
  link(rel='stylesheet', href="/assets/vendors/mdi/css/materialdesignicons.min.css")
  link(rel='stylesheet', href="/assets/vendors/css/vendor.bundle.base.css")
  script(src='https://kit.fontawesome.com/1a57f12784.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

  //- case path
  //-   when '/add_category'
  //-     script(src='/assets/css/add_category.css')
  //-   when '/add_product'
  //-     script(src='/assets/css/add_product.css')

  // endinject
  // Plugin css for this page
  // End plugin css for this page
  // inject:css
  // endinject
  // Layout styles
  link(rel='stylesheet', href="/assets/css/style.css")
  // End layout styles
  link(rel='shortcut icon', href="/assets/images/favicon.ico")
